<h2><%= movie.title %></h2>
<img width="100" height="150" src="<%= movie.coverImagePath %>" />
<div>Director: <%= movie.director.name %></div>
<div>Release Date: <%= movie.releaseDate.toDateString() %></div>
<div>Play Time: <%= movie.playTime %></div>
<div>Status: <%= movie.status %></div>
<div>Actors: <% actors.forEach(actor => { %> <%= actor.name%> <% }) %></div>
<div>Description: <%= movie.description %></div>

<a href="/movies/<%= movie.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', {url: `/movies/${movie.id}`}) %>
<a href="/directors/<%= movie.director.id %>">View Director</a>
